canvas, header {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

header {
    display: block;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

.container::after {
    clear: both;
    content: "";
    display: block;
}

#masthead {
    padding-top: 18%;
    height: 100vh;
    text-align: center;
    position: relative;
    z-index: 2;
}

#masthead .masthead-inner .masthead-title {
    margin-top: 16px;
    font-size: 50px;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
}

#masthead .masthead-inner .masthead-button:active, #masthead .masthead-inner .masthead-button:focus, #masthead .masthead-inner .masthead-button:hover {
    text-decoration: none;
    background: rgba(75, 116, 229, 0.6);
}

@media (max-width: 992px) {
    #masthead .masthead-inner {
        width: calc(100% - 64px);
        float: left;
        margin-left: 32px;
    }

    #masthead {
        padding-top: 60%;
    }
}

@media (max-width: 992px) {
    #masthead .masthead-inner .masthead-title {
        font-size: 47px;
    }
}

@media (max-width: 992px) {
    #masthead {
        padding-bottom: 96px;
    }
}